{box-sizing: border-box}

.container {
  
  margin: 100px auto 0px auto;
width: 600px;
height: 800px;
  padding: 12px;
  background-color: rgb(47, 196, 241);
}

.input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}





.registerbtn {
  align-items: center;
  background-color: #aa041a;
  color: rgb(212, 177, 177);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
 
}
.checkbox{
  margin:0;
}
.registerbtn {
  opacity: 1;
}


  color: dodgerblue;
}

.signin {
  background-color: #a51818;
  text-align: center;
}
